/* Hamburger (mobile) */ 
.hamburger {
    flex-direction: column;
    display: none;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    cursor: pointer;
}

.hamburger span {
    display: block;
    height: 3px;
    background: var(--white);
    border-radius: 2px;
    transition: all 0.4s ease;
}

/* Hamburger actif (croix) */
.hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}
.hamburger.active span:nth-child(2) {
    opacity: 0;
}
.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

/* Responsive menu */
@media (max-width: 850px) {
    .hamburger {
        display: flex;
    }

    header {
        top: 0 !important;
        padding: 1rem 0 !important;
    }
    .nav-links {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        max-height: 0;
        flex-direction: column;
        background: rgba(17, 24, 39, 0.95);
        backdrop-filter: blur(20px);
        border-radius: 0 0 20px 20px;
        overflow: hidden;
        transition: max-height 0.5s ease-in-out;
    }

    .nav-links.open {
        max-height: 6000px !important;
        padding: 30px 0;    
    }
    

    .nav-links li {
        text-align: center;
    }
    #padding-me {
        padding-bottom: 1rem;
    }

    .emergency-contact {
        display: none; /* optionnel sur mobile */
    }


    /*SECTION Contact*/

.info {
    width: 90%;
    margin: auto;
}
.guarantees {
    width: 90%;
}
.guarantee {
    width: 350px;
    margin: auto;
}
}


@media (max-width: 700px) {
     .nav-links.open {
        height: 100vh !important;
        padding: 50px 0 0;   
    }
     .nav-links li {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
}